/*Light blue- #b2e1ff,#97d5fc Normal blue- #007fff Dark Blue:#003972*/
.header .logo {
	opacity: 0;
}
.header {
	background-image:url("http://i59.tinypic.com/w19xfk.jpg");
	background-repeat:no-repeat;
	background-color: rgba(220,255,255,0.6);
}
.dark .header {
	background: rgba(0, 0, 0, 0.4) url(http://i59.tinypic.com/w19xfk.jpg) no-repeat !important;
}
body {
	background-image:url("http://i.imgur.com/ujLdbiq.png");
	background-repeat:no-repeat;
	background-position:center
}


/*li#lobby-userlist-user-soranoah, li#lobby-userlist-user-sorablade, li#lobby-userlist-user-sorabarts, li#lobby-userlist-user-femalegallade, li#lobby-userlist-user-sorarevan, li#lobby-userlist-user-onyxeagle, li#lobby-userlist-user-soraonyxeagle, li#lobby-userlist-user-jeratt, li#lobby-userlist-user-soramegatronus, li#lobby-userlist-user-neithcass, li#lobby-userlist-user-soraninjarisu, li#lobby-userlist-user-soraneith, li#lobby-userlist-user-blazing360 {
    background: rgb(252,183,63);
}*/

button.lobby-userlist-user-sorablade:hover{
 background: rgb(252,183,63);
}
/*Ateam userlist highlights*/
li#lobby-userlist-user-soranoah, li#lobby-userlist-user-sorablade, li#lobby-userlist-user-sorabarts, li#lobby-userlist-user-femalegallade, li#lobby-userlist-user-sorarevan, li#lobby-userlist-user-onyxeagle, li#lobby-userlist-user-soraonyxeagle, li#lobby-userlist-user-jeratt, li#lobby-userlist-user-soramegatronus, li#lobby-userlist-user-neithcass, li#lobby-userlist-user-soraninjarisu, li#lobby-userlist-user-soraneith, li#lobby-userlist-user-blazing360 {
    background: url("http://i.imgur.com/fTTNQvI.png");
}

/*Donators*/
li#lobby-userlist-user-sorafloat, li#lobby-userlist-user-soranypt {
	background: rgba(255 , 26 , 26 , 0.5);
}

.dark body {
	background-image: url(http://i.imgur.com/cPtSqmh.png) !important;
}
.dark .chat strong small {
	color: white !important;
}
.dark .chat strong {
	text-shadow: 0px 0px 10px, 0px 0px 10px;
}
.dark .battle-log .chat strong {
	text-shadow: 0px 0px 10px;
}
.dark .backdrop {
	background-image: url(http://orig13.deviantart.net/570b/f/2014/357/3/9/or_as_city_battle_background__night__by_phoenixoflight92-d8b0izs.png) !important;
}

/*DARK MENU BUTTONS*/
.dark .header {
	background: rgba(0, 0, 0, 0.4) url(http://i59.tinypic.com/w19xfk.jpg) no-repeat !important;
}
.dark .maintabbarbottom {
	border: 1px solid #111;
	background-color: #3a3a3a;
}
.dark .button.cur span {
	overflow: visible !important;
}
.dark .roomtab.button {
	background: #232323;
	border: 1px solid #111;
	color: #4488EE;
	text-shadow: 0px 0px 3px #6b9eea;
}
.dark a.button.subtle-notifying {
	color: #6b9eea;
	text-shadow: 0px 0px 3px #6b9eea;
}
.dark .button.cur, .dark .button.cur:hover {
	background: #3a3a3a;
	border: 1px solid #111;
	color: #4488EE;
	text-shadow: 0px 0px 5px #0065ff;
}

/*Birthday*/
/*li#lobby-userlist-user-insertuser { background: url("http://i.imgur.com/cK069Jn.png") no-repeat right;}*/

/*Ranks*/
/*John Cena*/
.chat-log {
	background:url("http://i.imgur.com/06PTig2.png") no-repeat scroll center;
}
a.button.cur, a.button.cur:hover {
	background: #1f9a3c/*url("")*/;
	color: white;
}
/*http://i1171.photobucket.com/albums/r545/Brahak/fade_zpsyfkbeayl.png?t=1439400353, this is the url to switch back to normal*/
.maintabbarbottom, a.button {
	background: #AE2F27;
	color: white;
}
/*#dde7ff*/
a.button:hover {
	background: #85B394;
	color: black;
}
/*#c7d7fc*/
.chat-log .chat {
	font-size: 8pt !important;
}
.chat-log .notice {
	font-size: 8pt;
}

/*Waffles's chat color*/
.chat.chatmessage-gymldrwaffles strong {
	color: #09aa3e !important;
}
li#lobby-userlist-user-gymldrwaffles strong, li#gamecorner-userlist-user-gymldrwaffles strong, li#staff-userlist-user-gymldrwaffles strong {
	color: #09aa3e !important;
}
/*Float's chat color*/
.chat.chatmessage-sorafloat strong {
	color: #0b1f82 !important;
}
li#lobby-userlist-user-sorafloat strong, li#gamecorner-userlist-user-sorafloat strong, li#staff-userlist-user-sorafloat strong {
	color: #0b1f82 !important;
}
