/*Light blue- #b2e1ff,#97d5fc Normal blue- #007fff Dark Blue:#003972*/
.header {
	background-image:url("http://i59.tinypic.com/w19xfk.jpg");
	background-repeat:no-repeat
}
body {
	background-image:url("http://i.imgur.com/YIm3pLh.png");
	background-repeat:no-repeat;
	background-position:center
}
.header .logo {
	opacity: 0;
}
/*li[id *= "champinnah"] button.userbutton.username:hover, li[id *= "frntierblade"] button.userbutton.username:hover, li[id *= "chmpionbart"] button.userbutton.username:hover, li[id *= "femalegallade"] button.userbutton.username:hover, li[id *= "onyxeagle"] button.userbutton.username:hover, li[id *= "artistejeratt"] button.userbutton.username:hover, li[id *= "coachabadon"] button.userbutton.username:hover, li[id *= "coachbloodfist"] button.userbutton.username:hover, li[id *= "neithcass"] button.userbutton.username:hover, li[id *= "bamdee"] button.userbutton.username:hover {
    background: rgb(252,183,63);
}*/

li#lobby-userlist-user-soranoah, li#lobby-userlist-user-sorablade, li#lobby-userlist-user-sorabarts, li#lobby-userlist-user-femalegallade, li#lobby-userlist-user-sorarevan, li#lobby-userlist-user-onyxeagle, li#lobby-userlist-user-soraonyxeagle, li#lobby-userlist-user-jeratt, li#lobby-userlist-user-sorajerattata, li#lobby-userlist-user-coachabadon, li#lobby-userlist-user-neithcass, li#lobby-userlist-user-bamdee, li#lobby-userlist-user-soraninjarisu, li#lobby-userlist-user-soraneith, li#lobby-userlist-user-blazing360 {
    background: url("http://i1171.photobucket.com/albums/r545/Brahak/adminteamthing_zpspbese1su.png");
}

li#lobby-userlist-user-sorafloat, li#lobby-userlist-user-soranypt {
	background: rgba(255 , 26 , 26 , 0.5);
}

/*li#lobby-userlist-user-insertname { background: url("http://i.imgur.com/cK069Jn.png") no-repeat right;
}*/

/*Ranks*/
/*John Cena*/

/*E4*/
li#lobby-userlist-user-, li#lobby-userlist-user-, li#lobby-userlist-user-, li#lobby-userlist-user- { 
	background: url("http://i.imgur.com/PE7WCZk.png") no-repeat right;
}
/*Elite Frontier*/
li#lobby-userlist-user-, li#lobby-userlist-user- { 
	background: url("") no-repeat right;
}
/*Frontier*/
li#lobby-userlist-user-, li#lobby-userlist-user-, li#lobby-userlist-user-, li#lobby-userlist-user-,
li#lobby-userlist-user-, li#lobby-userlist-user-, li#lobby-userlist-user-, li#lobby-userlist-user- { 
	background: url("") no-repeat right;
}

/*Gym Ldr*/
li#lobby-userlist-user-, li#lobby-userlist-user-, li#lobby-userlist-user-, li#lobby-userlist-user-,
li#lobby-userlist-user-, li#lobby-userlist-user-, li#lobby-userlist-user-, li#lobby-userlist-user-,
li#lobby-userlist-user-, li#lobby-userlist-user-, li#lobby-userlist-user-, li#lobby-userlist-user-,
li#lobby-userlist-user-, li#lobby-userlist-user-, li#lobby-userlist-user-, li#lobby-userlist-user-,
li#lobby-userlist-user-, li#lobby-userlist-user- { 
	background: url("") no-repeat right;
}

.chat-log {
	background:url("http://i.imgur.com/06PTig2.png") no-repeat scroll center;
}
a.button.cur, a.button.cur:hover {
    background: url("http://i1171.photobucket.com/albums/r545/Brahak/fade_zpsyfkbeayl.png?t=1439400353");
}
.maintabbarbottom, a.button {
    background: #dde7ff;
}
a.button:hover {
    background: #c7d7fc;
}
a.button i, a.button span {
    color: black;
}
.chat-log .chat {
	font-size: 8pt !important;
}
.chat-log .notice {
	font-size: 8pt;
}

/*Waffles's chat color*/
.chat.chatmessage-gymldrwaffles strong {
    color: #09aa3e !important;
}
li#lobby-userlist-user-gymldrwaffles strong, li#gamecorner-userlist-user-gymldrwaffles strong, li#staff-userlist-user-gymldrwaffles strong {
    color: #09aa3e !important;
}
/*Float's chat color*/
.chat.chatmessage-sorafloat strong {
    color: #0b1f82 !important;
}
li#lobby-userlist-user-sorafloat strong, li#gamecorner-userlist-user-sorafloat strong, li#staff-userlist-user-sorafloat strong {
    color: #0b1f82 !important;
}
